*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background: url('./assets/back.jpg') no-repeat center;
    background-size: cover;
}
header{
    width: 100%;
    min-height: 50px;
    background: black;
    position: relative;
}

.bars {
    color: white;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: 0.5s linear;
    display: none;
}
.bars.rotate{
    transform: translateY(-50%) rotate(180deg);
}

.logo{
    float: left;
    margin-left: 100px;
    line-height: 50px;
}

.logo h1 {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}

#navbar {
    float: right;
    margin-right: 100px;
    background: black;
}

#navbar>li{
    list-style: none;
    display: inline-block;
    line-height: 50px;
}

#navbar>li:hover{
    background-color: blue;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
}

.menu-one{
    position: absolute;
    width: 100%;
    left: -100%;
    background: rgba(60, 87, 99, 0.644);
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 3px #000;
}

.drop-one:hover .menu-one{
    left:0;
}

.menu-one ul{
    flex: 1;
    text-decoration:center;
    list-style:none;
    padding: 10px;
}

.menu-one ul h4{
    text-transform: uppercase;
    font-size:20px;
    font-weight: 900;
}

.menu-one ul a{
    color: black;
}

.drop-two{
    position: relative;
}

.menu-two{
    position: absolute;
    list-style: none;
    background: #555;
    left: 0;
    display: none;
}

.menu-two li:hover{
    background: rgba(206, 149, 43, 0.836);
}

.drop-two:hover > .menu-two{
    display: block;
}

span{
    display: inline-block;
    margin-left: 5px;
    transition: 0.3s;
}

.drop-two:hover span,
.drop-one:hover span{
    transform: rotate(-180deg);
}

@media (max-width: 1120px){
    .logo, #navbar {
        margin: 0;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 820px){
    #navbar{
        position: absolute;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: 0.5s linear;
    }

    #navbar li {
        display: block;
    }

    .menu-one{
        position: relative;
        box-shadow: none;
        display: none;
    }

    .drop-one:hover > .menu-one{
        display: block;
    }

    .menu-one ul{
        text-align: left;
        margin-left: 10%;
    }

    .menu-two{
        position: relative;
    }

    .bars {
        display: block;
    }

    #navbar.active{
        left: 0;
    }
}